.app-container {
  /* width: 400px;
  height: 400px; */
  display: grid;
  grid-template-columns: repeat(4, 50px);
}
.display {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 40px;
  font-size: 30px;
  text-align: right;
  border: 2px solid gray;
  padding-right: 2px;
}
button {
  height: 50px;
  background-color: azure;
  border: 1px solid aqua;
}

button.operator {
  background-color: lavender;
}
